// Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com
@import "../theme-mixins";

.router-content {
  @include media-breakpoint-down(md) {
    padding: 0 7px 15px 7px;
  }

  .messages-list {
    padding: 0px 0px;
    margin: 0px 1px;

    .mat-card {
      padding: 7px 0px;
      margin: 12px 1px;

      .box-reader,
      .boxes-title {
        // Ajusting for outline to stay in element + may need to refactor
        // Since breaking BS => may be better to re-code from clean than hack BS...
        // margin: 7px -4px 7px 4px;
      }

      .col-12 {
        padding-right: 7px;
        padding-left: 7px;
      }
    }
  }

  .sticky,
  .mat-expansion-panel {
    color: $colorRegular;
    background: $backgroundRegular;
  }

  .mat-expansion-panel {
    box-shadow: $boxShadowRegular;
  }

  .sticky {
    box-shadow: $boxShadowStrong;
    border-top: solid 2px $monwooPrimary;
    border-bottom: solid 2px $monwooPrimary;
  }

  .mat-button[disabled] {
    color: $colorDisabled;
  }

  .mat-expansion-indicator::after,
  .mat-expansion-panel-header-description {
    color: $colorRegular;
  }
}
