// Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com
@import "../theme-mixins";

& {
  color: $colorRegular;
  background: $backgroundRegular;
}

.router-content {
  // * {
  //   &:focus {
  //     outline: 2px auto $monwooPrimary !important;
  //   }
  //   &:focus-within {
  //   }
  // }

  .mat-card {
    margin: 15px 0px;
    border-top: solid 2px $monwooSecondary;
    color: $colorRegular;
    background: $backgroundRegular;
  }

  .expand-trigger {
    &:hover,
    &:focus {
      outline: 2px auto $monwooPrimary !important;
      cursor: pointer;
    }
  }

  .timings-export {
    margin: 14px;
  }

  .box-reader {
    .expand-trigger {
      margin-bottom: 14px;
    }
  }

  @include media-breakpoint-down(md) {
    padding: 0 7px 15px 7px;
  }

  .messages-list {
    padding: 0px 0px;
    margin: 0px 1px;

    .mat-card {
      padding: 7px 0px;
      margin: 12px 1px;

      .box-reader,
      .boxes-title {
        // Ajusting for outline to stay in element + may need to refactor
        // Since breaking BS => may be better to re-code from clean than hack BS...
        // margin: 7px -4px 7px 4px;
      }

      .col-12 {
        padding-right: 7px;
        padding-left: 7px;
      }
    }
  }

  .sticky,
  .mat-expansion-panel {
    color: $colorRegular;
    background: $backgroundRegular;
  }

  .mat-expansion-panel {
    box-shadow: $boxShadowRegular;
  }
  .mat-expansion-panel-header-title {
    color: $colorRegular;
  }
  @media screen {
    .sticky {
      box-shadow: $boxShadowStrong;
      border-top: solid 2px $monwooPrimary;
      border-bottom: solid 2px $monwooPrimary;
    }
  }

  .mat-button[disabled] {
    color: $colorDisabled;
  }

  .mat-expansion-indicator::after,
  .mat-expansion-panel-header-description {
    color: $colorRegular;
  }

  .session-form {
    dynamic-material-form-control {
      display: block;
    }

    .session-addSession {
      text-align: right;
      margin-top: -21px;
      margin-bottom: 7px;
    }
  }

  .dz-message {
    color: $colorRegular;
    background: $backgroundRegular;
  }

  .mat-form-field-label {
    color: $monwooSecondary;
    &.mat-form-field-empty {
      color: $colorLightRegular;
    }
  }
  .mat-form-field-infix {
    border-bottom: 1px solid $colorLightRegular;
  }
  .mat-select-value,
  .mat-datepicker-toggle {
    color: $colorRegular;
  }
  .mat-checkbox-checked .mat-checkbox-checkmark {
    background: $monwooSecondary;
  }
  .mat-progress-bar-buffer {
    color: $colorRegular;
  }
  .mat-checkbox-inner-container {
    color: $colorRegular;
  }

  .modal-content {
    background: $backgroundRegular;
  }

  .filters-container {
    @include applyScrollbarTheming();
    border-top: solid 2px $monwooPrimary;
    border-bottom: solid 2px $monwooPrimary;

    .mat-expansion-panel-header {
      position: relative;
      height: auto !important;
      min-height: 64px;
      padding-left: 0px;
      // .mat-expansion-panel-header-title {
      //   // min-width: 400px; // Giving space for btn to not overlap date fields
      // }
      .mat-expansion-panel-header-description {
        // @include media-breakpoint-down(md) {
        //   padding-bottom: 69px; // compensate bottom negative margin
        // }
        @include media-breakpoint-up(md) {
          padding-left: 400px; // Giving space for btn to not overlap date fields
        }
      }
    }

    &.mat-expanded {
      .mat-expansion-panel-content {
        // margin-top: -69px;
        @include media-breakpoint-up(md) {
          margin-top: -69px; // make it up only for MD size screen
        }
        // https://stackoverflow.com/questions/16730597/apply-css-properties-when-transition-ends/16731051#16731051
        // transition: margin 300ms 400ms;
        transition: margin 0ms 32ms;

        // TODO ? :
        // https://css-tricks.com/animations-the-angular-way/
        // https://angular.io/guide/animations
        // &.ng-animate {
        //   margin-top: 0px;
        // }
      }
    }
    .periode {
      margin-top: 15px;
    }
  }

  .boxes-configs-container {
    &.mat-expanded {
      .mat-expansion-panel-content {
        margin-top: -21px;
        transition: margin 0ms 42ms;
      }
    }
  }

  i {
    font-size: 16pt;
  }
  .legual {
    color: $colorLightStrong;

    h4 {
      border-bottom: 1px solid $colorLightRegular;
      color: $colorRegular;
      font-style: italic;
      font-style: oblique;
    }

    i {
      font-size: 24pt;
    }

    .list-group {
      padding: 3px 14px;
      .list-group-item {
        border-bottom: 1px solid $colorLightRegular;
        color: $colorRegular;
        background: $backgroundRegular;
      }
      i {
        font-size: 14pt;
        padding: 0 14px 0 0;
      }
    }
  }

  .is-actif {
    color: $monwooPrimary;
  }

  #Privacy {
    margin-top: 21px;
  }
}
