<div [class.gh-large]="this.size === 'large'">
  <a [href]="buttonHref" class="gh-btn" target="_blank" [attr.aria-label]="text + ' on GitHub'">
    <svg
      version="1.1"
      [attr.width]="svg.width"
      [attr.height]="svg.height"
      [attr.viewBox]="'0 0 ' + svg.width + ' ' + svg.height"
      class="gh-octicon"
      aria-hidden="true"
    >
      <path fill-rule="evenodd" [attr.d]="svg.path"></path>
    </svg>
    <span> {{ text }}</span>
  </a>
  <moon-box-github-counter
    *ngIf="count && loaded"
    [count]="counter"
    [large]="this.size === 'large'"
    [counterLabel]="counterLabel"
    [counterHref]="counterHref"
  ></moon-box-github-counter>
</div>
