// Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com

:host ::ng-deep {
  .toolbox {
    padding-bottom: 0px;
    // http://fr.learnlayout.com/clearfix.html
    // overflow: auto;
    // zoom: 1;
    // https://www.w3schools.com/howto/howto_css_clearfix.asp
    ::after {
      content: "";
      clear: both;
      display: table;
    }
    .lang-field {
      .mat-form-field-wrapper {
        // padding-bottom: 0px;
      }
    }
  }

  // Drop zones design :
  .dropzone .dz-preview {
    display: none !important;
  }

  // https://stackoverflow.com/questions/5697067/css-for-grabbing-cursors-drag-drop
  // https://css-tricks.com/almanac/properties/c/cursor/
  dropzone > .dropzone.dz-wrapper {
    cursor: copy;

    .dz-message {
      overflow: hidden !important;
      min-height: 94px !important;

      cursor: copy;
      // cursor: move; /* fallback if grab cursor is unsupported */
      // cursor: grab;
      // cursor: -moz-grab;
      // cursor: -webkit-grab;
      // &:active {
      //   cursor: grabbing;
      //   cursor: -moz-grabbing;
      //   cursor: -webkit-grabbing;
      // }
      .dz-text {
        cursor: copy;
      }
    }
  }
}
