<!-- Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com -->

<ng-template #formField> <div class="condensable" [innerHTML]="msg.iframeBody | safeHtml"></div> </ng-template>
<ng-container *ngTemplateOutlet="msgBody"> </ng-container>

<mat-card class="toolbox bs">
  <div>
    <button
      mat-button
      color="primary"
      matTooltip="{{'Reset parameters to factory'|translate}}"
      (click)="resetToFactory($event)"
    >
      <i class="fas fa-power-off"></i> {{ 'Reset' | translate }}
    </button>
    <mat-form-field class="float-right lang-field">
      <mat-select placeholder="{{langPlaceholder|translate}}" [value]="currentLanguage">
        <mat-option *ngFor="let language of languages" (click)="setLanguage(language)" [value]="language">
          {{ language | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="float-right theme-field pr-3">
      <mat-select placeholder="{{'mb.param.switchTheme.plhldr'|translate}}" [value]="themings.currentTheme">
        <mat-option *ngFor="let theme of themings.themes" (click)="themings.setTheme(theme)" [value]="theme">
          {{ theme | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>

<mat-card *ngIf="this.storage.isLocked">
  <p>{{ 'Stockage verouillé, vous pouvez reset tout le stockage ou essayer de le déverouiller :' }}</p>
  <button mat-button color="primary" matTooltip="{{'Déverouiller Moon Box'|translate}}" (click)="lockScreen($event)">
    <i class="fas fa-unlock"></i> {{ 'Déverouiller' | translate }}
  </button>
</mat-card>

<mat-card *ngIf="!this.storage.isLocked">
  <form>
    <mat-form-field class="">
      <input
        name="passCode"
        [(ngModel)]="passCode"
        [ngModelOptions]="{ standalone: true }"
        autocomplete="new-password"
        matInput
        [placeholder]="'Code de vérouillage' | translate"
        type="password"
      />
    </mat-form-field>
  </form>
  <button
    mat-button
    color="primary"
    matTooltip="{{'Définir le code de sécurité'|translate}}"
    (click)="setSecurityCode($event)"
  >
    <i class="fas fa-unlock"></i> {{ 'Définir' | translate }}
  </button>
</mat-card>

<mat-card *ngIf="!this.storage.isLocked">
  <form class="common-params-form">
    <mat-form-field class="full-width">
      <input
        matInput
        [placeholder]="'mb.common.fetchSize.plhdr' | translate"
        type="number"
        [formControl]="common.fetchSize.Ctrl"
        [errorStateMatcher]="common.fetchSize.errMatcher"
      />
      <mat-error *ngIf="common.fetchSize.Ctrl.errors"> {{ 'mb.common.fetchSize.hasErr.lbl' | translate }} </mat-error>
      <mat-error *ngIf="common.fetchSize.Ctrl.hasError('min')">
        <!---->
        {{
          'mb.common.fetchSize.isTooLow.lbl{max}{input}'
            | translate
              : {
                  max: common.fetchSize.Ctrl.errors.min.min,
                  input: common.fetchSize.Ctrl.errors.min.actual
                }
        }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        [placeholder]="'mb.common.logLimit.plhdr' | translate"
        type="number"
        [formControl]="common.logLimit.Ctrl"
        [errorStateMatcher]="common.logLimit.errMatcher"
      />
      <mat-error *ngIf="common.logLimit.Ctrl.errors"> {{ 'mb.common.logLimit.hasErr.lbl' | translate }} </mat-error>
      <mat-error *ngIf="common.logLimit.Ctrl.hasError('min')">
        <!---->
        {{
          'mb.common.logLimit.isTooLow.lbl{max}{input}'
            | translate
              : {
                  max: common.logLimit.Ctrl.errors.min.min,
                  input: common.logLimit.Ctrl.errors.min.actual
                }
        }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-card>

<mat-card *ngIf="!this.storage.isLocked">
  <strong>{{ 'mb.param.exportBckp.slct.lbl' | translate }}</strong>
  <button
    mat-button
    color="primary"
    matTooltip="{{'mm.param.exportBckp.tooltip'|translate}}"
    (click)="processingBckpExport($event)"
  >
    <i class="fas fa-file"></i> {{ 'mb.param.exportBckp.btn' | translate }}
  </button>
  <dropzone
    *ngIf="dropzoneBckp"
    [config]="dropzoneBckp"
    [message]="'mm.param.importBckp.dzone.msg' | translate"
    (error)="onUploadBckpError($event)"
  ></dropzone>
  <mat-progress-bar mode="determinate" [value]="timingsProgress"></mat-progress-bar>
</mat-card>

<mat-card *ngIf="!this.storage.isLocked">
  <p>
    <strong>
      {{
        'mb.param.logTitle{size}{nbMax}'
          | translate
            : {
                nbMax: notifBuffer.maxLength,
                size: notifBuffer.getSize()
              }
      }}
    </strong>
  </p>
  <!-- - -><pre>{   { ((notifBuffer.dataDelayed$F()) | async) | json }}</pre><!- - -->
  <!--
    TODO : try to avoid ExpressionChangedAfterItHasBeenCheckedError
    Below having errors, not solving anything :
    <div
    *ngFor="let notif of (((notifBuffer.dataDelayed$F()) | async).all())" [class]="notif.type">
  -->
  <div *ngFor="let notif of notifBuffer.all()" [class]="notif.type">
    <!-- - -><pre>{  { notif | json }}</pre><!- - -->
    <!-- - -><span [innerHTML]="notif.icon"></span><!- - -->
    <strong>{{ notif.title }}</strong> {{ notif.content }}
  </div>
</mat-card>

<mat-card>
  <a href="https://github.com/Monwoo/MoonBox">
    {{ 'Project under M.I.T. Licence. Build by Monwoo.' | translate }}
    <img src="https://www.monwoo.com/LogoMonwoo-32.png" alt="" />
  </a>
  <p>{{ 'mb.param.warningMsg' | translate }}</p>
</mat-card>
