<!-- Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com -->

<mat-card class="toolbox bs">
  <div>
    <button
      mat-button
      color="secondary"
      matTooltip="{{'Reset parameters to factory'|translate}}"
      (click)="resetToFactory($event)"
    >
      <i class="fas fa-power-off"></i> {{ 'Reset' | translate }}
    </button>
    <mat-form-field class="float-right lang-field">
      <mat-select placeholder="{{langPlaceholder|translate}}" [value]="currentLanguage">
        <mat-option *ngFor="let language of languages" (click)="setLanguage(language)" [value]="language">
          {{ language | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="float-right theme-field pr-3">
      <mat-select placeholder="{{'mb.param.switchTheme.plhldr'|translate}}" [value]="themings.currentTheme">
        <mat-option *ngFor="let theme of themings.themes" (click)="themings.setTheme(theme)" [value]="theme">
          {{ theme | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</mat-card>

<mat-card *ngIf="storage.isLocked">
  <p>{{ 'Stockage verouillé, vous pouvez reset tout le stockage ou essayer de le déverouiller :' }}</p>
  <button mat-button color="secondary" matTooltip="{{'Déverouiller Moon Box'|translate}}" (click)="lockScreen($event)">
    <i class="fas fa-unlock"></i> {{ 'Déverouiller' | translate }}
  </button>
</mat-card>

<mat-card *ngIf="!storage.isLocked">
  <form>
    <mat-form-field class="">
      <input
        name="passCode"
        [(ngModel)]="passCode"
        [ngModelOptions]="{ standalone: true }"
        autocomplete="new-password"
        matInput
        [placeholder]="'Code de vérouillage' | translate"
        type="password"
      />
    </mat-form-field>
  </form>
  <button
    mat-button
    color="secondary"
    matTooltip="{{'Définir le code de sécurité'|translate}}"
    (click)="setSecurityCode($event)"
  >
    <i class="fas fa-unlock"></i> {{ 'Définir' | translate }}
  </button>
</mat-card>

<mat-card *ngIf="!storage.isLocked">
  <form class="common-params-form">
    <mat-form-field class="full-width">
      <input
        matInput
        [placeholder]="'mb.common.fetchSize.plhdr' | translate"
        type="number"
        [formControl]="common.fetchSize.Ctrl"
        [errorStateMatcher]="common.fetchSize.errMatcher"
      />
      <mat-error *ngIf="common.fetchSize.Ctrl.errors"> {{ 'mb.common.fetchSize.hasErr.lbl' | translate }} </mat-error>
      <mat-error *ngIf="common.fetchSize.Ctrl.hasError('min')">
        <!---->
        {{
          'mb.common.fetchSize.isTooLow.lbl{max}{input}'
            | translate
              : {
                  max: common.fetchSize.Ctrl.errors.min.min,
                  input: common.fetchSize.Ctrl.errors.min.actual
                }
        }}
      </mat-error>
    </mat-form-field>

    <!--
          https://github.com/angular/material2/issues/7891
          https://github.com/angular/material2/issues/8349
          https://material.angular.io/components/list/overview

        <mat-selection-list #keepLoadingRef
        role="listbox"
        checkboxPosition="before"
        name="keepLoadingCtrl"
            formControlName="keepLoadingCtrl"
        [formControl]="common.keepLoading.Ctrl">
          <strong mat-subheader>{{'mb.common.keepLoading.title' | translate}}</strong>
          <mat-list-option
          [value]="common.keepLoading.Ctrl.value"
          checkboxPosition="before"
          >{{'mb.common.keepLoading.lbl' | translate}}</mat-list-option>
        </mat-selection-list>

      TODO: is setted up, will avoid us to click on load more btn on each loads ends...
      + do not loop back from begining on login => keep back on last loaded page token
      (since previous msgs have already been imported and user want to continous past
      interupted loadings...)
      <mat-form-field class="full-width">
        <mat-checkbox matInput type="checkbox" name="keepLoading" ngModel [formControl]="common.keepLoading.Ctrl">
        </mat-checkbox>
        <strong mat-subheader>{{ 'mb.common.keepLoading.plhdr' | translate }}</strong>
        <input matInput placeholder="" style="display: none" />
      </mat-form-field>
    -->

    <mat-form-field class="full-width">
      <input
        matInput
        [placeholder]="'mb.common.logLimit.plhdr' | translate"
        type="number"
        [formControl]="common.logLimit.Ctrl"
        [errorStateMatcher]="common.logLimit.errMatcher"
      />
      <mat-error *ngIf="common.logLimit.Ctrl.errors"> {{ 'mb.common.logLimit.hasErr.lbl' | translate }} </mat-error>
      <mat-error *ngIf="common.logLimit.Ctrl.hasError('min')">
        <!---->
        {{
          'mb.common.logLimit.isTooLow.lbl{max}{input}'
            | translate
              : {
                  max: common.logLimit.Ctrl.errors.min.min,
                  input: common.logLimit.Ctrl.errors.min.actual
                }
        }}
      </mat-error>
    </mat-form-field>
  </form>
</mat-card>

<mat-card *ngIf="!storage.isLocked">
  <strong>{{ 'mb.param.exportBckp.slct.lbl' | translate }}</strong>
  <button
    mat-button
    color="secondary"
    matTooltip="{{'mm.param.exportBckp.tooltip'|translate}}"
    (click)="processingBckpExport($event)"
  >
    <i class="fas fa-file"></i> {{ 'mb.param.exportBckp.btn' | translate }}
  </button>
  <dropzone
    *ngIf="dropzoneBckp"
    [config]="dropzoneBckp"
    [message]="'mm.param.importBckp.dzone.msg' | translate"
    (error)="onUploadBckpError($event)"
  ></dropzone>
  <mat-progress-bar mode="determinate" [value]="timingsProgress"></mat-progress-bar>
</mat-card>

<mat-card *ngIf="!storage.isLocked">
  <p>
    <strong>
      {{
        'mb.param.logTitle{size}{nbMax}'
          | translate
            : {
                nbMax: notifBuffer.maxLength,
                size: notifBuffer.getSize()
              }
      }}
    </strong>
  </p>
  <!-- - -><pre>{   { ((notifBuffer.dataDelayed$F()) | async) | json }}</pre><!- - -->
  <!--
    TODO : try to avoid ExpressionChangedAfterItHasBeenCheckedError
    Below having errors, not solving anything :
    <div
    *ngFor="let notif of (((notifBuffer.dataDelayed$F()) | async).all())" [class]="notif.type">
  -->
  <div *ngFor="let notif of notifBuffer.all()" [class]="notif.type">
    <!-- - -><pre>{  { notif | json }}</pre><!- - -->
    <!-- - -><span [innerHTML]="notif.icon"></span><!- - -->
    <strong>{{ notif.title }}</strong> {{ notif.content }}
  </div>
</mat-card>

<mat-card class="legual bs">
  <!--
    TODO : auto-check all view and add  target="_blank" for all to avoid
    buggy fealings due to webnavigation outside of PWA => need to let user feel he
    did left PWA to external link...
  -->
  <div class="p-2">
    <a href="https://github.com/Monwoo/MoonBox" target="_blank" class="row">
      <span class="col-8"> {{ 'Project under M.I.T. Licence. Build by Monwoo.' | translate }} </span>
      <!--
        https://getbootstrap.com/docs/4.0/utilities/vertical-align/
        https://getbootstrap.com/docs/4.0/utilities/flex/

        TODO : add colors to icons, like in fontawesome :
        https://fontawesome.com/start
      -->
      <span class="col d-flex justify-content-around align-items-center">
        <img src="https://www.monwoo.com/LogoMonwoo-32.png" alt="" /> <i class="fab fa-angular"></i>
        <img src="assets/ngx-rocket-logo-32.png" alt="{{'Ngx-rocket logo'|translate}}" /> <i class="fab fa-sass"></i>
        <i class="fab fa-php"></i>
        <!-- <i class="fab fa-laravel"></i> -->
      </span>
    </a>
  </div>
  <div class="p-2">
    <!--
      Place this tag where you want the button to render.
      => transpile issue : aria-label unknown
    -->
    <div class="row">
      <strong class="col-md-8 text-right"> {{ 'mb.param.giveItAStar' | translate }} : </strong>
      <span class="col-md d-flex justify-content-around align-items-center social-stars">
        <moon-box-github-btn
          user="Monwoo"
          repo="MoonBox"
          [count]="true"
          size="large"
          [standardIcon]="false"
          target="_blank"
        >
        </moon-box-github-btn>
        <!--
          Since need reload on nav switchs : Place this tag in your head or just before your close body tag.
          TODO: ajax side ?
          https://stackoverflow.com/questions/7135752/can-i-call-document-ready-to-re-activate-all-on-load-event-handlers
          => Already done by community : use repo @ctrl/ngx-github-buttons instead of :
          <script async defer src="https://buttons.github.io/buttons.js"></script>
          <a
            class="github-button"
            href="https://github.com/Monwoo/MoonBox"
            data-icon="octicon-star"
            data-size="large"
            data-show-count="true"
            target="_blank"
            attr.aria-label="{{ 'mb.param.gitHubStar.aria' | translate }}"
            >{{ 'mb.param.gitHubStar.lbl' | translate }}
          </a>
        -->

        <!--
          TODO : add 'addAStar' feature to backend => allow all un-reseted app to get a star....
          => Do it by versions => in case of multiples moon boxes installed
          => do it more like : "give a Star" / "give Moon" ? => crasy useless indicator ? (Crazy theme)
          => or like this : "Did enjoy" / "Did piss me off" ? (Pro theme)
          <i class="fas fa-star"></i>
        -->
        <!-- <i class="fab fa-laravel"></i> -->
      </span>
    </div>
  </div>

  <div class="p-2">
    <p>{{ 'mb.param.warningMsg' | translate }}</p>
  </div>
  <div id="CGU" class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title px-4">
        <a href="param/#CGU" class="row"> {{ "Conditions générales d'utilisation" | translate }} </a>
      </h4>
    </div>
    <!-- use https://www.freeformatter.com/json-escape.html to rewrite CGU translations -->
    <div class="modal-body" [innerHTML]="'mb.param.cgu.html' | translate"></div>
    <div class="modal-footer">
      <!--
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Fermer
        </button>
      -->
    </div>
  </div>
  <div id="Privacy" class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title px-4">
        <a href="param/#Privacy" class="row"> {{ 'Politique de confidentialité' | translate }} </a>
      </h4>
    </div>
    <!-- use https://www.freeformatter.com/json-escape.html to rewrite Privacy translations -->
    <div class="modal-body" [innerHTML]="'mb.param.privacy.html' | translate"></div>
    <div class="modal-footer">
      <!--
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Fermer
        </button>
      -->
    </div>
  </div>
</mat-card>
