// Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com
@import "theme-constantes";

// https://gist.github.com/pascalduez/10011785
@function capitalize($string) {
  @return to-upper-case(str-slice($string, 1, 1)) + str-slice($string, 2);
}

// inspired from :
// https://www.webcreatorbox.com/en/tutorials/sass-mixin-en
@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, "" {
    #{$prefix}#{$property}: $value;
  }
}

@mixin setupColor($name, $color, $prefix) {
  // @each $specificPrefix in -webkit-, -moz-, -ms-, -o-, '' {
  //   #{$specificPrefix}#{$property}: $value;
  // }
  // TODO : $#{$prefix}#{capitalize($name)}: $color;

  .#{$prefix}-c-#{$name} {
    color: $color;
  }
  // https://internet-inspired.com/wrote/colour-magic-with-sass/
  // https://gist.github.com/kreo/c77e1ef2c5f49631d8df
  // https://gist.github.com/samuel-holt/82ef9305fa4779ed4f08
  // https://medium.com/@MateMarschalko/dynamic-colour-palettes-with-sass-and-hsl-805b8bbef758
  .#{$prefix}-c-#{$name}-complementary {
    color: adjust_hue($color, 180);
  }
  .#{$prefix}-c-#{$name}-secondary {
    color: adjust_hue($color, 120);
  }
  .#{$prefix}-c-#{$name}-tiertiary {
    color: adjust_hue($color, -120);
  }

  .#{$prefix}-bg-#{$name} {
    background: $color;
  }
  .#{$prefix}-bg-#{$name}-complementary {
    color: adjust_hue($color, 180);
  }
  .#{$prefix}-bg-#{$name}-secondary {
    color: adjust_hue($color, 120);
  }
  .#{$prefix}-bg-#{$name}-tiertiary {
    color: adjust_hue($color, -120);
  }
}
// TODO :
// https://getbootstrap.com/docs/4.0/getting-started/theming/
// https://robots.thoughtbot.com/controlling-color-with-sass-color-functions

@mixin applyScrollbarTheming() {
  // https://css-tricks.com/custom-scrollbars-in-webkit/
  // https://developer.mozilla.org/fr/docs/Web/CSS/::-webkit-scrollbar
  // https://css-tricks.com/almanac/properties/s/scrollbar/
  /*
  The -webkit-scrollbar family of properties consists of seven different pseudo-elements that, together, comprise a full scrollbar UI element:
  ::-webkit-scrollbar addresses the background of the bar itself. It is usually covered by the other elements
  ::-webkit-scrollbar-button addresses the directional buttons on the scrollbar
  ::-webkit-scrollbar-track addresses the empty space “below” the progress bar
  ::-webkit-scrollbar-track-piece is the top-most layer of the the progress bar not covered by the draggable scrolling element (thumb)
  ::-webkit-scrollbar-thumb addresses the draggable scrolling element that resizes depending on the size of the scrollable element
  ::-webkit-scrollbar-corner addresses the (usually) bottom corner of the scrollable element, where two scrollbars might meet
  ::-webkit-resizer addresses the draggable resizing handle that appears above the scrollbar-corner at the bottom corner of some elements
  */
  &::-webkit-scrollbar-thumb {
    height: 56px;
    background: $scrollThumbColor; // lighten($monwooPrimary, 42%);// hsla(0, 0%, 53.3%, .69);
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  &::-webkit-scrollbar {
    width: 8px;
    background: $monwooPrimary; // darken($monwooPrimary, 42%);
    // background: lighten($monwooSecondary, 42%);
  }
}
