// Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com
.router-content {
  padding: 15px;
}

:host ::ng-deep {
  .dark-theme * {
    // Inspired from : https://davidwalsh.name/invert-colors-css
    // https://stackoverflow.com/questions/17741629/invert-color-using-css
    -webkit-filter: invert(94%);
    filter: invert(94%);
  }
}
