<div>
  <form *ngIf="filters" [formGroup]="filters.group" #filtersForm="ngForm">
    <dynamic-material-form
      [group]="filters.group"
      [model]="filters.model"
      [layout]="filters.layout"
      (change)="onFiltersChange($event)"
    >
      <!--
        ng-template modelId="_password">
            <show-hide-password size="lg" icon="entypo" btnStyle="primary" [btnOutline]="false">
              <ng-content></ng-content>
              <ng-container *ngTemplateOutlet="_password"></ng-container>

            </show-hide-password>
        </ng-template
      -->

      <ng-template modelId="mbegKeyTransformer" let-context="context" let-index="index">
        <!-- <pre>{{  index  | json }}</pre> -->

        <button mat-button color="primary" type="button" (click)="clear($event, context, index)">Remove</button>
      </ng-template>
    </dynamic-material-form>

    <button mat-button color="primary" type="button" (click)="addItem()">Add item</button>
  </form>

  <moon-box-reader id="0" [filters]="filters.data"></moon-box-reader>
</div>
