<div *ngIf="!this.storage.isLocked">
  <mat-card [ngClass]="{ sticky: isSticky }">
    <div class="global-count">{{ msgs.numResults }} / {{ msgs.totalCount }}</div>

    <form *ngIf="filters" class="condensed" [formGroup]="filters.group" #filtersFormRef #filtersForm="ngForm">
      <button mat-button color="primary" type="button" (click)="toggleFilters($event)">...</button>
      <dynamic-material-form
        [group]="filters.group"
        [model]="filters.model"
        [layout]="filters.layout"
        (change)="onFiltersChange($event)"
      >
        <!--
          ng-template modelId="_password">
              <show-hide-password size="lg" icon="entypo" btnStyle="primary" [btnOutline]="false">
                <ng-content></ng-content>
                <ng-container *ngTemplateOutlet="_password"></ng-container>

              </show-hide-password>
          </ng-template
        -->
        <ng-template modelId="fetchEnd">
          <!-- <pre>{{  index  | json }}</pre> -->
          <!--
            TODO v1.0.1 : allow all actions in one stickable place :
            <button
              mat-button
              color="primary"
              matTooltip="{{'mb.boxes.btn.Login.tooltip'|translate}}"
              (click)="login($event)"
            >
              <i class="fas fa-envelope"></i> {{ 'mb.boxes.btn.Login' | translate }}
            </button>
            <button
              mat-button
              *ngIf="msgs.numResults !== msgs.totalCount"
              color="primary"
              matTooltip="{{'mb.boxes.btn.LoadMore.tooltip'|translate}}"
              (click)="loadNext($event)"
            >
              <i class="fas fa-download"></i> {{ 'mb.boxes.btn.LoadMore' | translate }}
            </button>
          -->
        </ng-template>

        <ng-template modelId="mbegKeyTransformer" let-context="context" let-index="index">
          <!-- <pre>{{  index  | json }}</pre> -->

          <button mat-button color="primary" type="button" (click)="clear($event, context, index)">
            {{ 'Remove' | translate }}
          </button>
        </ng-template>
      </dynamic-material-form>

      <button class="condensable" mat-button color="primary" type="button" (click)="addItem()">
        {{ 'Add item' | translate }}
      </button>
    </form>
  </mat-card>

  <ng-container *ngFor="let idx of boxesIdxs">
    <ng-template #extendedActions let-boxId="boxId">
      <button class="" mat-button color="primary" type="button" (click)="removeBox($event, idx)">
        {{ 'Déconnecter la boite' | translate }}
      </button>
    </ng-template>
    <moon-box-reader [id]="idx" [filters]="filters.group.value" [extendedActions]="extendedActions"> </moon-box-reader>
  </ng-container>
  <button class="" mat-button color="primary" type="button" (click)="addBox()">
    {{ 'Ajouter une boite' | translate }}
  </button>

  <div *ngFor="let messages of (msgs.service | async | keyvalue); let groupIndex = index" class="container-fluid">
    <mat-card class="row">
      <div class="col-12 text-left" (click)="expandMessages($event, messages.key, groupIndex)">
        <strong>{{ messages.key }}</strong> ({{ messages.value.numResults }})
        <!-- : not accurate enouth yet : /{{ messages.value.totalCount }}) -->
      </div>
      <div class="col-12 text-md-left condensed">
        <mat-card *ngFor="let msgKey of messages.value.sortedKey; let index = index" class="bs box-reader">
          <ng-template #boxContent let-msg="msg">
            <mat-card-header (click)="expandMessage($event, msgKey, index)">
              <div mat-card-avatar>{{ msg.localTime }}</div>
              <mat-card-title>{{ msg.subject }}</mat-card-title>
              <mat-card-subtitle class="">
                <strong>{{ msg.expeditorFullName }}</strong> <strong class="mx-3 d-block d-md-inline">=></strong>
                {{ msg.connectionUser }}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="!(isMsgCondensed(index) || _isMsgCondensed)">
              <span> {{ '[' + msg.expeditor + '] => ' + msg.to + ' | ' + msg.cc + ' | ' + msg.bcc }} </span>
              <ng-template #msgBody>
                <div class="condensable-lvl2" [innerHTML]="msg.iframeBody | safeHtml"></div>
              </ng-template>
              <ng-container *ngTemplateOutlet="msgBody"> </ng-container>
            </mat-card-content>
          </ng-template>
          <ng-container
            *ngTemplateOutlet="
              boxContent;
              context: {
                msg: messages.value.data[msgKey],
                msgid: msgKey
              }
            "
          >
            <!-- TODO : msgid not reconized in let directives...
          --></ng-container>
        </mat-card>
      </div>
      <div class="col-12 text-md-right">
        <button
          *ngIf="hasMoreMsgs"
          mat-button
          color="primary"
          matTooltip="{{'mb.box-reader.btn.LoadMore.tooltip'|translate}}"
          (click)="loadNext($event)"
        >
          <i class="fas fa-download"></i> {{ 'mb.box-reader.btn.LoadMore' | translate }}
        </button>
      </div>
    </mat-card>
  </div>
</div>
