<!-- Copyright Monwoo 2018, made by Miguel Monwoo, service@monwoo.com -->
<ng-template #defaultExtendedActions let-boxId="boxId"> Hello :) </ng-template>
<!-- TODO : https://material.angular.io/components/expansion/overview -->
<div class="bs box-reader condensed" #eltRef>
  <div class="container-fluid">
    <mat-card class="row">
      <div class="col text-left expand-trigger" (click)="toggleConfigs()">
        <strong>{{ formGroup?.value._username }}</strong> ({{ ctx.numResults }}/{{
          ctx.messages?.bulkCount ? '---' : ctx.messages?.totalCount
        }})
      </div>
      <div class="col text-right config-toggler-wrapper">
        <ng-container *ngIf="!(isScreenSmall$ | async)">
          <!-- TODO : remove code duplication using template ? -->
          <ng-container
            *ngTemplateOutlet="extendedActions ? extendedActions : defaultExtendedActions; context: ctx"
          ></ng-container>
          <button
            *ngIf="ctx.hasMoreMsgs"
            mat-button
            color="primary"
            matTooltip="{{'mb.box-reader.btn.LoadMore.tooltip'|translate}}"
            (click)="loadNext($event).subscribe()"
          >
            <i class="fas fa-download"></i
            ><!-- {{ 'mb.box-reader.btn.LoadMore' | translate }} -->
          </button>
          <button
            mat-button
            color="primary"
            matTooltip="{{'mb.box-reader.btn.Login.tooltip'|translate}}"
            (click)="login($event).subscribe()"
          >
            <i class="fas fa-envelope"></i
            ><!-- {{ 'mb.box-reader.btn.Login' | translate }} -->
          </button>
        </ng-container>

        <button mat-button color="primary" type="button" (click)="toggleConfigs()">...</button>
      </div>
      <div class="col-12 text-md-right">
        <ng-container *ngIf="(isScreenSmall$ | async)">
          <ng-container
            *ngTemplateOutlet="extendedActions ? extendedActions : defaultExtendedActions; context: ctx"
          ></ng-container>
          <button
            *ngIf="ctx.hasMoreMsgs"
            mat-button
            color="primary"
            matTooltip="{{'mb.box-reader.btn.LoadMore.tooltip'|translate}}"
            (click)="loadNext($event).subscribe()"
          >
            <i class="fas fa-download"></i
            ><!-- {{ 'mb.box-reader.btn.LoadMore' | translate }} -->
          </button>
          <button
            mat-button
            color="primary"
            matTooltip="{{'mb.box-reader.btn.Login.tooltip'|translate}}"
            (click)="login($event).subscribe()"
          >
            <i class="fas fa-envelope"></i
            ><!-- {{ 'mb.box-reader.btn.Login' | translate }} -->
          </button>
        </ng-container>
      </div>
      <div class="col-12 col-md-6 text-md-left condensable">
        <mat-form-field class="float-right">
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-select
            (selectionChange)="selectProvider(loginData.selectedProvider)"
            placeholder="{{'mb.box-reader.provider.plhdr'|translate}}"
            [(ngModel)]="loginData.selectedProvider"
          >
            <mat-option
              class="expand-trigger"
              *ngFor="let idx of (backend.providers | keyvalue); let i = index"
              [value]="idx.key"
            >
              {{ idx.value.name | translate }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-6 text-md-left condensable">
        <form *ngIf="formGroup" [formGroup]="formGroup" #loginForm="ngForm">
          <dynamic-material-form [group]="formGroup" [model]="formModel" [layout]="formLayout">
            <ng-template modelId="_username">
              <!--
                https://material.angular.io/components/form-field/overview
                https://material.angular.io/components/icon/overview
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
              -->
            </ng-template>
            <!--
              <ng-template modelId="_password">
                  <show-hide-password size="lg" icon="entypo" btnStyle="primary" [btnOutline]="false">
                    <ng-content></ng-content>
                    <ng-container *ngTemplateOutlet="_password"></ng-container>

                  </show-hide-password>
              </ng-template>
            -->
          </dynamic-material-form>
        </form>
      </div>

      <div *ngIf="ctx.messages && !isCondensed && 'TODO Auto inline expand' && false" class="col-12 text-md-left">
        <mat-card *ngFor="let groupMsgs of (ctx.messages.msgsByMoonBoxGroup | keyvalue)" class="bs box-reader">
          <mat-card-subtitle>{{ groupMsgs.key }}</mat-card-subtitle>
          <mat-card-content class="container-fluid">
            <mat-card *ngFor="let msg of groupMsgs.value" class="bs box-reader">
              <mat-card-content class="container-fluid">
                <mat-card-header>
                  <div mat-card-avatar>{{ msg.localTime }}</div>
                  <mat-card-title>{{ msg.subject }}</mat-card-title>
                  <mat-card-subtitle>{{ msg.expeditorFullName }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                  <pre class="msg-header condensable">{{ msg.headers }}</pre>
                  <ng-template #msgBody>
                    <div class="condensable" [innerHTML]="msg.iframeBody | safeHtml"></div>
                  </ng-template>
                  <ng-container *ngTemplateOutlet="msgBody"> </ng-container>
                </mat-card-content>
              </mat-card-content>
            </mat-card>
          </mat-card-content>
        </mat-card>
      </div>
    </mat-card>
  </div>
</div>
